.header {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 88.5%;
  z-index: 1000;
  background-color: var(--black-color);
  color: #fff;
}


.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
  color: var(--secondary-color);
}


@media (max-width: 768px) {
  .header__nav{
    width: 100%;
  }
}



.header__logo {
  flex: 1;
  display: flex;

  position: relative;
  padding: 20px;
}

.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;

  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  padding-left: 30px;

  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #fff;
  opacity: 0.8;
}

.header__menu, .header__menu-mobile {
  padding: 20px;
  flex: 1.236;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;

  list-style: none;
}

.header__menu li a {
  position: relative;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: inherit;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header__menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--primary-color);
  transition: width 0.5s ease;
}

.header__menu li a:hover::after {
  width: 100%;
}

.header__menu li a:hover {
  color: var(--primary-color);
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu-mobile {
  display: none;
  gap: 20px;

  position: relative;
}

.header__search{
  cursor: pointer;
}